:root {
    --bg-primary: 255, 231, 193;
    --text-primary: 43, 112, 117;
    --text-highlight: 72, 194, 162;
    --text-accent: 72, 194, 78;
    --icon-primary: 16, 42, 35;
    --phone-outer: 28, 28, 28;

    --font-base: "Bree Serif";
    --font-highlight: "Praise";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

/* PARALLAX STYLES */
.parallax-section {
    position: relative;
    z-index: 0;
}

.parallax-section::before {
    content: "";
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* HEADER */

.header {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    column-gap: .5em;
    font-size: clamp(4rem, 6vw, 6vw); /* Make sure width of children is adapted to largest text */
    padding: 20px 0px 20px 0px;
}

.header::before {
    background-image: url('images/background.jpg');
}

.header-section {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-info {
    display: flex;
    flex-direction: column;
    width: 5em;
    font-family: var(--font-base), serif;
    text-align: center;
}

.header-name {
    font-family: var(--font-highlight), cursive;
    font-size: clamp(3rem, 4vw, 4vw);
    color: rgb(var(--text-primary));
}

.header-title {
    font-size: clamp(4rem, 6vw, 6vw);
    line-height: 1;
    color: rgb(var(--text-highlight));
    text-shadow: 0px 0px 2px rgb(var(--icon-primary));
}

.header-subtitle {
    font-size: clamp(2rem, 3.3vw, 3.3vw);
    color: rgb(var(--text-primary));
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 0;
}

.social-icon {
    width: clamp(4rem, 6vw, 6vw);
    transition: transform 0.5s ease;
    cursor: pointer;
}

.social-icon:hover {
    transform: scale(1.1);
    filter: brightness(2);
}

.header-location {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.5rem, 2vw, 2vw);
    color: rgb(var(--text-primary));
}

.header-location-icon {
    font-size: clamp(1.5rem, 2vw, 2vw);
}

.profile-picture {
    width: 5em;
    aspect-ratio: 1;
    border-radius: 50%;
    align-self: center;
    box-shadow: 0px 0px 0px .1em rgb(var(--text-highlight)), 0px 0px .1em .11em black;
}

@media (max-width: 768px) {
    .header {
        column-gap: 0;
        row-gap: .5em;
    }

    .header-section,
    .profile-picture {
        grid-column: span 2;
    }

    .profile-picture {
        place-self: center;
        order: 1;
        width: 4em;
    }

    .header-section {
        justify-content: center;
        order: 2;
    }
}

/* SECTION TITLES */
.section-title-wrapper {
    padding: 2em;
    text-align: center;
    background-color: rgb(var(--bg-primary));
    border-top: .75em solid rgb(var(--text-primary));
    border-bottom: .75em solid rgb(var(--text-primary));
}

.section-title {
    font-size: calc(2.5em + 1vw);
    font-family: var(--font-base), serif;
    line-height: 1;
    color: rgb(var(--text-primary));
}

/* CONTENT */

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em 0em 2em 0em;
}

.content-stays::before {
    background-image: url('images/bg-stays.jpg');
}

.content-experiences::before {
    background-image: url('images/bg-experiences.jpg');
}

.content-food::before {
    background-image: url('images/bg-food.jpg');
}

.content-more::before {
    background-image: url('images/bg-more.jpg');
}

.content-reviews::before {
    background-image: url('images/bg-reviews.jpg');
}

.phone-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }
}

/* CONTENT - phone */
.phone-outer {
    width: minmax(300px, 15vw);
    max-width: 25rem;
    aspect-ratio: 9/16;
    background-color: rgb(var(--phone-outer));
    border-radius: 20px;
    padding: 10px;
}

.video {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.description {
    font-family: var(--font-base), serif;
    font-size: 1.5rem;
    color: rgb(var(--icon-primary));
    text-align: center;
    background-color: rgba(var(--bg-primary), 0.7);
    border-radius: 20px;
    padding: 1em .5em 1em .5em;
}

@media (max-width: 768px) {
    .phone-outer {
        width: min(100%, 300px);
    }
}

/* REVIEW SECTION */
.content-reviews {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding: 2em;
}

.review {
    display: flex;
    flex-direction: column;
    font-family: var(--font-base), serif;
    font-size: 1.5rem;
    color: rgb(var(--icon-primary));
    background-color: rgba(var(--bg-primary), 0.7);
    border-radius: 20px;
    padding: .5em;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-title {
    font-size: 1.2em;
    font-weight: bold;
}

.review-rating {
    display: flex;
    align-items: center;
}

.review-star {
    color: orange;
    font-size: 1.2em;
}

.review-subtitle {
    font-weight: bold;
    color: rgb(var(--text-highlight));
}

.review-body {
    padding: 1em;
}

@media (max-width: 768px) {
    .content-reviews {
        grid-template-columns: 1fr;
    }
}

/* FOOTER */

.footer {
    background-color: blue;
}